* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #555;
  color: white;
}

.header {
  border-bottom: solid 5px darkcyan;
}

.title {
  line-height: 4rem;
  padding-inline: 2rem;
}

.main {
  margin-left: 3rem;
  list-style-type: none;
}

.name {
  margin-left: 3rem;
  padding: 0.5rem;
}

.hidden {
  display: none;
}